<!DOCTYPE html>
<html>

  <head>
    <title>MINT</title>
    <link rel="stylesheet" href="/css/mint.min.css"/>
  </head>

  <body>

    <div id="wrap"></div>
    <script type="text/javascript" src="/scripts/mint.min.js"></script>

  </body>

</html>
